.category-container {
    display: flex;
    /* align-items: ; */
    flex-direction: row;
    justify-content: center;
    /* width: 100vw;
    height: 200vh; */
}

.child1{
    width: 100px;
    height: 100px;
}

.child2{
    width: 100px;
    height: 100px;
}

.child3{
    width: 100px;
    height: 100px;
}
